" Pick a leader key
let mapleader = "ä"
let maplocalleader = "ü"

" Show line numbers
set number

" Cursor motion
set scrolloff=4
set matchpairs+=<:> " use % to jump between pairs

" Last line
set showmode

" Searching
set incsearch
set ignorecase
nnoremap <leader>h :set hlsearch!<CR>

" Map Escape (enter normal mode)
inoremap jj <ESC>

" Jump to tags
inoremap ö<space> <right>

" Various bindings
inoremap ö; <ESC>A;
inoremap öi if<space>(<right><space>{<CR><up><ESC>F)i
inoremap öee <space>else<space>{<CR>
inoremap öei <space>else<space>if<space>(<right><space>{<CR><up><ESC>f)i
inoremap öw while<space>(<right><space>{<CR><up><ESC>F)i
inoremap öf for<space>(;;<right><space>{<CR><up><ESC>T(i
inoremap öm (<right><space>{<CR><up><ESC>F(i
inoremap ötc try<space>{<CR><down><space>catch<space>(<right><space>{<CR><up><up>
inoremap ötf try<space>{<CR><down><space>catch<space>(<right><space>{<CR><down><space>finally<space>{<CR><ESC>4kA
