!! Colorscheme

! special
*.foreground:   #ffffff
*.background:   #000000
*.cursorColor:  #ffffff

! black
*.color0:       #000000
*.color8:       #323232

! red
*.color1:       #f06464
*.color9:       #fa7878

! green
*.color2:       #64f064
*.color10:      #78fa78

! yellow
*.color3:       #c8c850
*.color11:      #dcdc64

! blue
*.color4:       #6464f0
*.color12:      #7878fa

! magenta
*.color5:       #c850c8
*.color13:      #dc64dc

! cyan
*.color6:       #46b4b4
*.color14:      #5ac8c8

! white
*.color7:       #c3c3c3
*.color15:      #ffffff


!! Keybinds for Navigations
URxvt.keysym.Shift-Up: command:\033]720;1\007
URxvt.keysym.Shift-Down: command:\033]721;1\007


!! URxvt Appearance
URxvt.font: xft:DejaVuSansMono:size=12
URxvt.boldFont: xft:DejaVuSansMono-Bold:size=12
URxvt.italicFont: xft:DejaVuSansMono-Oblique:size=12
URxvt.boldItalicFont: xft:DejaVuSansMono-BoldOblique:size=12
URxvt.geometry: 90x30
URxvt.saveline: 2048
URxvt.scrollBar: false
URxvt.urgentOnBell: true


!! Copy Paste
URxvt.perl-ext-common: default,clipboard,keyboard-select
URxvt.copyCommand: xclip -i -selection clipboard
URxvt.pasteCommand: xclip -o -selection clipboard
URxvt.keysym.M-c: perl:clipboard:copy
URxvt.keysym.M-v: perl:clipboard:paste
URxvt.keysym.M-x: perl:keyboard-select:activate
URxvt.keysym.M-s: perl:keyboard-select:search
