snippet rs "r code block" b
\`\`\`{r}
$0
\`\`\`
endsnippet

snippet rse "r code block" b
\`\`\`{r eval=FALSE}
$0
\`\`\`
endsnippet

snippet func "function" b
${1:name} <- function(${2:args}) {
	$0
}
endsnippet
